<div class="parent2">
        <div class="test1" data-toggle="tooltip" title="Profile">
            <a [routerLink]="['/profile']">
          <!-- style="background-image:url('/assets/images/2.jpg')" -->
          <i class="fa fa-user fa-2x"></i>
            </a>
        </div>
        <div class="test2" data-toggle="tooltip" title="Sell"><i class="fa fa-shopping-bag fa-2x"></i></div>
        <div class="test3" data-toggle="tooltip" title="Bids Placed"><i class="fa fa-pencil fa-2x"></i></div>
        <!-- <div class="test4" data-toggle="tooltip" title="Envelope"><i class="fa fa-envelope-o fa-2x"></i></div> -->
        <div class="mask2" data-toggle="tooltip" title="Home"><i class="fa fa-home fa-3x"></i></div>
      </div>